body{
  margin: 0;
  padding: 0;
}
.form{
  margin-left: 200px;
  margin-right: auto;
}

.title{
  position: absolut;
  margin-left: 200px;
}

.head{
}

.form>.form-base{
  padding :5px;
  float: left;
  background-color : rgb(99, 214, 64);
}

.form>.hobby-box,.form>.hobby-submitbox,.form>.hobby-shows{
  margin-left : 100px;
  /*width:49%;*/
  float: left;
}

.hobby-box{
  display : block;
}

.form:after{
  content: "";
  display: block;
  clear : both;
}

#hobby{
  width : 100px;
  height : 100px;
  margin: 5px;
  color : blue;
  border: 1px solid black;
  float: left;
}

#hobby[class*="canPublish"]{
  color : red;
}

.floatClear:after{
  content: "";
  display: block;
  clear : both;
}

