.header {
    width: 600px;
    height: 150px;
    padding: 1px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header .headsC {
    font-size: 100px;
    text-align: center;
    display: none;
}

body {
    background-color: aliceblue;
}

.container {
    width: 900px;
    height: 700px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    /* //background-color: #00ff05; */
}

.Right {
    width: 30%;
    /* //background-color : #21c4ed ; */
}

.Left {
    width: 70%;
    background-color: #ffe7ee;
    /* //opacity: 0.1 ; */
}

.downfield {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.dfield {
    width: 80%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    background-color: #ffb6ee;
}

.button {
    display: inline-block;
    border-radius: 11%;
    /* 角丸       */
    font-size: 18pt;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 12px 12px;
    /* 余白       */
    background: rgba(0, 0, 102, 0.89);
    /* 背景色     */
    color: rgba(255, 255, 255, 0.54);
    /* 文字色     */
    line-height: 1em;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    box-shadow: 6px 6px 3px #666666;
    /* 影の設定 */
    border: 2px solid rgba(0, 0, 102, 0.89);
    /* 枠の指定 */
}

.button:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
    color: rgba(0, 0, 102, 0.89);
    /* 背景色     */
    background: rgba(255, 255, 255, 0.54);
    /* 文字色     */
}

.hello {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.MainC {
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(6, 164, 255); */
}

.CCC {
    padding-left: 30%;
    padding-right: 30%;
    width: 100%;
    /* background-color: rgb(235, 67, 67); */
}

.required:after{
    content: " * ";
    color: #ff0000;
}